body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  background: #C0DBD9;
  height: 100%;
  margin: 0 auto;
}

.marY-15 {
  margin: 15px 0;
}

.header {
  background: #7FAFF7;
  padding: 30px;
}
